*{
    padding: 0;
    margin: 0;
}

body{
    
    font-family: 'Montserrat', sans-serif;
   width: 100%;
   background:whitesmoke;
   margin: auto;
   display: flex;   
}

.main{
    background:white;
    margin: auto;
}

.header{
    padding: 25.5px 330px 18.5px 330px;
    text-decoration: none;
    height: 35px;
    color: white;
}

.menu a {
color: #FF0000;
font-weight: 700;
font-size: 18px;
line-height: 18px;
align-items: center;
letter-spacing: 2.7px;
text-transform: uppercase;
text-decoration: none;
}

.menu li {
    display: inline;
}

.menu-link{
    padding-left: 72px;
}
.menu-last{
    padding-left: 50px;
}

.img{
  width: 100%;         
}

h2{
    padding: 48px 253px 38px 253px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}

.content{
    padding: 58px 67.5px 38px;
}
.text{
    text-align: center;
    width: 1145px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-left: 67.5px;
}

.content2{
    padding-top: 28px;
}

.box{
    width: 191px;
    background: #FF0000;
    border-radius: 4px;
    height: 51px;
    margin-left: 540px;
    margin-top: 66px;
 }

 .text_box{
    color: #FFFFFF;
    letter-spacing: 1.8px;
    text-align: center;
    padding-top: 18px;
    font-weight: 700;
    font-style: normal;
 }

 .footer{
    padding: 82px 100px 29px 713px ;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
 }
